@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* colors: 
#0B273B
#FF5E14
#00243B */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100vw;
}

body{
  background-color: #0B273B;
  width: 100%;
  max-width: 100vw;
}

/*Cabeçalho*/

header{
  z-index:2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0b273bf6;
  padding-block: 16px;
  position: sticky;
  width: 100%;
  top: 0;
  border-bottom: #cccccce8 0.4px solid;
  backdrop-filter: blur(8px);
  box-shadow: 0px -10px 32px 0px #cccccc;
}

.div-contatos{
  display: flex;
  align-items: center;
}

.header-contatos{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-img{
  height: 100px;
  border-radius: 10%;
}

.ctt-img{
  padding-left: 24px;
  height: 34px;
}

.header-ctt{
  color: #ffffff;
  display: flex;
  align-items: center;
}

.ctt-txt{
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #cccccc;
  text-decoration: none;
}

.lista-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-family:'Montserrat', sans-serif;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

header nav ul li {
  display: inline-block;
  margin: 10px;
}

header nav ul li a {
  text-decoration: none;
  color:#ffffff;
  font-size: 18px;
}

header nav ul li a:hover {
  color:#cccccc;
}

/*Landing Section*/
.landing-section{
  background-image: url(imagens/foto-landing-final-1920.jpg);
  height: 829px;
  }

.landing-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Main*/

.conteudo{
  font-family:'Montserrat', sans-serif;
  color: #0B273B;
}

/*Quem somos?*/

.quem-somos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #cccccc;
  box-shadow: 0px 0px 32px 0px #1a1919 ;
  gap: 10px;
}

.quem-somos-txt{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 710px;
  gap: 20px;
}

.titulo-quem-somos{
  font-size: 40px;
  font-weight: bold;
}

.p-quem-somos{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
}

.quem-somos-img{
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*Diferencial*/

.diferencial{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #eee;
  gap: 24px;
}

.diferencial-img{
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.diferencial-txt{
  display: flex;
  flex-direction: column;
  align-items:end;
  gap: 20px;
}

.titulo-diferencial{
  font-size: 40px;
  font-weight: bold;
  text-align: end;
}

.lista-diferencial{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
}

/*Obras*/

.obras{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ddd;
  gap: 24px; 
}

.obras-titulo{
  font-size: 40px;
  font-weight: bold;
}

.carrossel-obras{
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.gallery-wrapper{
  overflow-x: auto;
}

.gallery{
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.arrow-left{
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  font-size: 30px;
  line-height: 300px;
  width: 40px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, transparent 0%, #ddd 200%);
  opacity: 0.3;
}

.arrow-left:hover, .arrow-right:hover{
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.arrow-right{
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 30px;
  line-height: 300px;
  width: 40px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, #ddd 200%);
  opacity: 0.3;
}

.item{
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.6;
}

.current{
  opacity: 1;
}

.gallery-wrapper{
  overflow: hidden;
}

/*Rodapé*/

.rodape{
  background-color: #0B273B;
  color: #cccccc;
  font-family:'Montserrat', sans-serif;
  gap: 18px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: #eee solid 0.4px;
  box-shadow: 0px -10px 32px 0px #cccccc;
}

.rodape-ctt{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  font-size: 1.2em;
}

.rodape-ul{
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.rodape-img{
  height: 40px;
}

.rodape-logo{
  background-color: #cccccc;
  padding: 6px;
  border-radius: 15%;
}

.rodape-ref{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.ref-txt{
  color: #ddd;
}




/*1100px*/




@media (max-width: 1100px) {
  header nav ul li a {
    text-decoration: none;
    color:#ffffff;
    font-size: 16px;
  }

  .header-img{
    height: 80px;
  }

  .ctt-img{
    height: 24px;
  }

  .ctt-txt{
    font-size: 12px;
  }
  
  .quem-somos-img{
    height: 300px;
  }

  .diferencial-img{
    height: 300px;
  }

  .landing-section{
    background-image: url(imagens/foto-landing-final-1920.jpg);
    height: 829;
    }
}

@media (max-width: 800px) {
  .header-img{
    height: 50px;
  }

  .ctt-img{
    height: 16px;
    padding-left: 10px;
  }

  .ctt-txt{
    font-size: 10px;
  }

  .header-contatos{
    gap: 10px;
  }

  .lista-links{
    gap: 16px;
  }
  header nav ul li {
    display: inline-block;
    margin: 0px;
  }

  header nav ul li a {
    text-decoration: none;
    color:#ffffff;
    font-size: 10px;
    display: flex;
    text-align: center;
  }

  .quem-somos-img{
    height: 200px;
  }

  .titulo-quem-somos{
    font-size: 28px;
  }

  .p-quem-somos{
    font-size: 16px;
  }

  .diferencial-img{
    height: 200px;
  }

  .titulo-diferencial{
    font-size: 28px;
  }

  .lista-diferencial{
    font-size: 16px;
  }

  .carrossel-obras{
    position: relative;
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  .obras-titulo{
    font-size: 28px;
  }

  .rodape-txt{
    font-size: 16px;
  }

  .rodape-img{
    height: 20px;
  }

  .ref-txt{
    font-size: 14px;
    text-decoration: none;
  }
}

/*600px*/

@media (max-width: 600px ){
  .landing-section{
    height: 651px;
  }

  .landing-title{
    font-size: 28px;
  }

  .header-img{
    height: 35px;
  }

  .ctt-img{
    height: 12px;
    padding-left: 8px;
  }

  .ctt-txt{
    font-size: 8px;
    padding-left: 4px;
  }

  .header-contatos{
    gap: 6px;
  }

  .lista-links{
    gap: 10px;
  }
  header nav ul li {
    display: inline-block;
    margin: 0px;
  }

  header nav ul li a {
    text-decoration: none;
    color:#ffffff;
    font-size:8px;
    display: flex;
    text-align: center;
  }

  .quem-somos-img{
    height: 140px;
  }

  .titulo-quem-somos{
    font-size: 20px;
  }

  .p-quem-somos{
    font-size: 12px;
  }

  .diferencial-img{
    height: 140px;
  }

  .titulo-diferencial{
    font-size: 20px;
  }

  .lista-diferencial{
    font-size: 12px;
  }

  .carrossel-obras{
    position: relative;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  .obras-titulo{
    font-size: 24px;
  }

  .rodape-txt{
    font-size: 10px;
  }

  .rodape-img{
    height: 14px;
  }

  .ref-txt{
    font-size: 10px;
    text-decoration: none;
  }
}

@media (max-width: 450px){
    .landing-section{
    height: 500px;
  }

  .landing-title{
    font-size: 24px;
  }

  header{
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  .header-img{
    height: 7dvh;
  }

  .div-contatos{
    flex-direction: column;
    gap: 6px;
  }

  .ctt-img{
    height: 12px;
  }

  .ctt-txt{
    font-size: 16px;
    padding-left: 2px;
  }

  .header-contatos{
    gap: 6px;
    align-items: center;
  }

  .lista-links{
    gap: 6px;
    flex-direction: column;
  }
  header nav ul li {
    display: inline-block;
    margin: 0px;
  }

  header nav ul li a {
    text-decoration: none;
    color:#ffffff;
    font-size:14px;
    display: flex;
    text-align: center;
  }

  .quem-somos{
    flex-direction: column;
    gap: 10px;
  }

  .quem-somos-txt{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .quem-somos-img{
    height: 200px;  
  }

  .titulo-quem-somos{
    font-size: 17px;
  }

  .p-quem-somos{
    font-size: 12px;
    text-align: justify;
  }

  .diferencial{
    flex-direction: column-reverse;
    gap: 10px;
  }

  .diferencial-txt{
    align-items: center;
    gap: 12px;
  }

  .diferencial-img{
    height: 220px;
  }

  .titulo-diferencial{
    font-size: 17px;
    text-align: center;
  }

  .lista-diferencial{
    font-size: 12px;
    text-align: justify;
  }

  .carrossel-obras{
    position: relative;
    padding: 15px;
    max-width: 330px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  .obras{
    gap: 8px;
  }

  .obras-titulo{
    font-size: 24px;
  }

  .rodape{
    gap: 6px;
  }

  .rodape-txt{
    font-size: 12px;
  }

  .rodape-ul{
    gap: 6px;
    flex-direction: column;
  }

  .rodape-li{
    display: flex;
    gap: 6px;
  }

  .rodape-img{
    height: 12px;
  }

  .ref-txt{
    font-size: 10px;
    text-decoration: none;
  }
}